*{
  text-decoration: none;
  color: black;
}
nav{
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
  text-align: left;
  font-size: 1rem;

}
.logo{
  clip-path: ellipse(45% 45% at 50% 50%);
  background-color: rgb(44, 162, 167);
  width: 9rem;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(29, 95, 97);
}
.box{
  height: 316px;
  width: 474px;
}
  p, h2, h1{
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Montserrat', sans-serif;

  }
  h2{
    text-align: center;
  }
  p{
    text-align: justify;
  }
 